<p>dasbord works!</p>
<div class="row">
    <div class="col-md-6">
      <div class="Dashbord">
        <div class="das1">
          <div class="sidebar">
            <div class="SliderHead">
            <h4>Dashbord</h4>
          </div>
            <ul>
              <div class="iteam bg">
                <div
                  style="
                    display: flex;
                    background-color: rgb(194, 214, 218);
                    width: 250px;
                    padding: 7px;
                    border-radius: 8px;
                  "
                >
                  <mat-icon>home</mat-icon>
                  <span>Home</span>
                </div>
              </div>
              <div class="iteam">
                <mat-icon>timeline</mat-icon>
                <span>Analytics</span>
              </div>
              <div class="iteam">
                <mat-icon>timeline</mat-icon>
                <span>Sales</span>
              </div>
            </ul>
          </div>
          <div class="sidebar">
            <h4>Quick Manu</h4>
            <ul>
              <div class="iteam">
                <div
                  style="
                    display: flex;
                    background-color: rgb(194, 214, 218);
                    width: 250px;
                    padding: 7px;
                    border-radius: 8px;
                  "
                >
                  <mat-icon>people_outline </mat-icon>
                  <span
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    >Users
                  </span>
                </div>
              </div>
              <div class="iteam">
                <mat-icon>add_shopping_cart</mat-icon>
                <span>Products</span>
              </div>
              <div class="iteam">
                <mat-icon>account_balance_wallet</mat-icon>
                <span>Transactions</span>
              </div>
              <div class="iteam">
                <mat-icon>reports</mat-icon>
                <span>Report</span>
              </div>
            </ul>
          </div>
          <div class="sidebar">
            <h4>Notifications</h4>
            <ul>
              <div class="iteam">
                <div
                  style="
                    display: flex;
                    background-color: rgb(194, 214, 218);
                    width: 250px;
                    padding: 7px;
                    border-radius: 8px;
                  "
                >
                  <mat-icon>mail</mat-icon>
                  <span routerLink="user">Mail</span>
                </div>
              </div>
              <div class="iteam">
                <mat-icon>feedback</mat-icon>
                <span>Feedback</span>
              </div>
              <div class="iteam">
                <mat-icon>messages</mat-icon>
                <span>Messages</span>
              </div>
            </ul>
          </div>
          <div class="sidebar">
            <h4>Staff</h4>
            <ul>
              <div class="iteam">
                <div
                  style="
                    display: flex;
                    background-color: rgb(194, 214, 218);
                    width: 250px;
                    padding: 7px;
                    border-radius: 8px;
                  "
                >
                  <mat-icon>manage</mat-icon>
                  <span>Manage</span>
                </div>
              </div>
              <div class="iteam">
                <mat-icon>analytics</mat-icon>
                <span>Analytics</span>
              </div>
              <div class="iteam">
                <mat-icon>reports</mat-icon>
                <span>Reports</span>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>