<div class="row">
    <div class="col-md-6">
      <div class="Dashbord">
        <div class="das1">
          <div class="sidebar">
            <h4 style="color: brown">Dashbord</h4>
            <ul>
              <div class="iteam bg">
                <div
                  style="
                    display: flex;
                    background-color: rgb(194, 214, 218);
                    width: 250px;
                    padding: 7px;
                    border-radius: 8px;
                  "
                >
                  <mat-icon>home</mat-icon>
                  <span>Home</span>
                </div>
              </div>
              <div class="iteam">
                <mat-icon>timeline</mat-icon>
                <span>Analytics</span>
              </div>
              <div class="iteam">
                <mat-icon>timeline</mat-icon>
                <span>Sales</span>
              </div>
            </ul>
          </div>
          <div class="sidebar">
            <h4 style="color: brown">Quick Manu</h4>
            <ul>
              <div class="iteam">
                <div
                  style="
                    display: flex;
                    background-color: rgb(194, 214, 218);
                    width: 250px;
                    padding: 7px;
                    border-radius: 8px;
                  "
                >
                  <mat-icon>people_outline </mat-icon>
                  <span
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    >Users
                  </span>
                </div>
              </div>
              <div class="iteam">
                <mat-icon>add_shopping_cart</mat-icon>
                <span>Products</span>
              </div>
              <div class="iteam">
                <mat-icon>account_balance_wallet</mat-icon>
                <span>Transactions</span>
              </div>
              <div class="iteam">
                <mat-icon>reports</mat-icon>
                <span>Report</span>
              </div>
            </ul>
          </div>
          <div class="sidebar">
            <h4 style="color: brown">Notifications</h4>
            <ul>
              <div class="iteam">
                <div
                  style="
                    display: flex;
                    background-color: rgb(194, 214, 218);
                    width: 250px;
                    padding: 7px;
                    border-radius: 8px;
                  "
                >
                  <mat-icon>mail</mat-icon>
                  <span routerLink="user">Mail</span>
                </div>
              </div>
              <div class="iteam">
                <mat-icon>feedback</mat-icon>
                <span>Feedback</span>
              </div>
              <div class="iteam">
                <mat-icon>messages</mat-icon>
                <span>Messages</span>
              </div>
            </ul>
          </div>
          <div class="sidebar">
            <h4 style="color: brown">Staff</h4>
            <ul>
              <div class="iteam">
                <div
                  style="
                    display: flex;
                    background-color: rgb(194, 214, 218);
                    width: 250px;
                    padding: 7px;
                    border-radius: 8px;
                  "
                >
                  <mat-icon>manage</mat-icon>
                  <span>Manage</span>
                </div>
              </div>
              <div class="iteam">
                <mat-icon>analytics</mat-icon>
                <span>Analytics</span>
              </div>
              <div class="iteam">
                <mat-icon>reports</mat-icon>
                <span>Reports</span>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  <div class="box4">
    <div>
    <table class="table bg1">
        <thead>
          <tr class="tableHead">
          
            <th scope="col"><input type="checkbox" class="form-check-input" id="exampleCheck1" style="margin-right: 8px;">id</th>
            <th scope="col">User</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Tranjaction Volume</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input" id="exampleCheck1" style="margin-right: 8px;">1</th>
            
                <!-- <img src="../../../assets/CamScanner 11-08-2022 21.41.13.jpg" alt=""> -->
            <td>Rahul Thorat</td>
           
            <td>rahul@gmail.com</td>
            <td>ok</td>
            <td>102</td>
            <td>
                <button  style="margin-right: 5px;border: none; background-color: white;"><mat-icon>update</mat-icon></button>
                <button style="background-color: white;border: none;"><mat-icon>delete</mat-icon></button>
            </td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input" id="exampleCheck1" style="margin-right: 8px;">1</th>
            
                <!-- <img src="../../../assets/CamScanner 11-08-2022 21.41.13.jpg" alt=""> -->
            <td>Rahul Thorat</td>
           
            <td>rahul@gmail.com</td>
            <td>ok</td>
            <td>102</td>
            <td>
                <button  style="margin-right: 5px;border: none; background-color: white;"><mat-icon>update</mat-icon></button>
                <button style="border: none; background-color: white;" ><mat-icon>delete</mat-icon></button>
            </td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input" id="exampleCheck1" style="margin-right: 8px;">1</th>
            
                <!-- <img src="../../../assets/CamScanner 11-08-2022 21.41.13.jpg" alt=""> -->
            <td>Rahul Thorat</td>
           
            <td>rahul@gmail.com</td>
            <td>ok</td>
            <td>102</td>
            <td>
                <button  style="margin-right: 5px;border: none; background-color: white;"><mat-icon>update</mat-icon></button>
                <button style="border: none; background-color: white;" ><mat-icon>delete</mat-icon></button>
            </td>
          </tr>
          
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input" id="exampleCheck1" style="margin-right: 8px;">1</th>
            
                <!-- <img src="../../../assets/CamScanner 11-08-2022 21.41.13.jpg" alt=""> -->
            <td>Rahul Thorat</td>
           
            <td>rahul@gmail.com</td>
            <td>ok</td>
            <td>102</td>
            <td>
                <button  style="margin-right: 5px;border: none; background-color: white;"><mat-icon>update</mat-icon></button>
                <button style="border: none; background-color: white;" ><mat-icon>delete</mat-icon></button>
            </td>
          </tr>
          
          

        
       


          






          
         
         
        </tbody>
      </table>      
    </div>
  </div>